<%- include('partials/header') %>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#home"><img src="/images/Logo2.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- navbar ends here -->

  <!-- start header -->
  <header>
    <div class="header-text">
        <h2>Welcome!</h2>
        <h3>I’m <span style="color: #F16529;">Kennedy Chibueze</span> <br> Software Engineer.</h3>
        <div class="btn-group btn-group-lg">
          <a href="#contact"><button class="btn" id="btn-g1">Hire me!</button></a>
          <a href="/home/downloadcv/64dcc26d0622373201fe30ab"><button class="btn" id="btn-g2">Download CV  <i class="fa fa-download fa-beat" aria-hidden="true"></i></button></a>   
        </div>
    </div>
    <!-- <div class="btn-group btn-group-lg">
      <a href="#contact"><button class="btn" id="btn-g1">Hire me!</button></a>
      <a href="/home/downloadcv/64dcc26d0622373201fe30ab"><button class="btn" id="btn-g2">Download CV  <i class="fa fa-download fa-beat" aria-hidden="true"></i></button></a>   
    </div> -->
    <!-- <div class="img-shape"></div> -->
    <div class="header-image">
      <div class="img-shape1"></div>
        <img src="/images/mypics2-removebg.png">
    </div>
    <div class="social-icon2">
      <a href='#'><i class="fab fa-facebook fa-2x"></i></a>
      <a href='#'><i class="fab fa-twitter fa-2x"></i></a>
      <a href='#'><i class="fab fa-linkedin-in fa-2x"></i></a>
      <a href='#'><i class="fab fa-github fa-2x"></i></a>
    </div>
  </header>

  <!-- end header -->

  <!-- About section  -->
  <section class="about-section bg-dark" id="about">
    <img src="/images/mypics2.jpg" id="about-img-sc" style="display: none;">
    <div class="about-message">
      <h2><span style="color: #F16529">About</span> Me</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
         when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         It has survived not only five centuries, but also the leap into electronic 
        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
         and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      <a href="/home/downloadcv/64dcc26d0622373201fe30ab"><button>Download CV  <i class="fa fa-download fa-beat" aria-hidden="true"></i></button></a>   
    </div>
    <div class="about-image">
      <img src="/images/mypics2-removebg.png">
      <div class="social-icon1">
        <a href='#'><i class="fab fa-facebook fa-2x"></i></a>
        <a href='#'><i class="fab fa-twitter fa-2x"></i></a>
        <a href='#'><i class="fab fa-linkedin-in fa-2x"></i></a>
        <a href='#'><i class="fab fa-github fa-2x"></i></a>
      </div>
    </div>
    <div class="about-shape"></div>
  </section>
  <!-- End About section -->

  <!-- Service section -->
  <section class="service-card" id="services">
    <h2 class="text-center" style="text-align: center;"><span style="color: #F16529;">Services</span></h2><br>

    <div class="container">
     <div class="row justify-content-center">
      <div class="col-12 col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/images/card-imade1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><span style="color: #F16529;">Web</span> Developer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4 card2">
        <div class="card" style="width: 18rem;">
          <img src="/images/card-images2.png" class="card-img-top" alt="..." style="background-color: rgb(71, 70, 70);">
          <div class="card-body">
            <h5 class="card-title"><span style="color: #F16529;">Back-end</span> Developer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4 card3">
        <div class="card" style="width: 18rem;">
          <img src="/images/card-images3.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><span style="color: #F16529;">Full-Stack</span> Developer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
     </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-12 col-md-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="153" height="169" viewBox="0 0 153 169" fill="none">
            <g clip-path="url(#clip0_425_40)">
              <path d="M152.734 33.1289L138.844 155.015L76.4064 168.573L14.1414 155.034L0.265625 33.1289H152.734Z" fill="#E44D26"/>
              <path d="M76.5 158.209L126.952 147.253L138.822 43.0957H76.5V158.209Z" fill="#F16529"/>
              <path d="M49.4987 72.9985H76.5008V58.0474H28.6387L29.0953 62.0584L33.7869 103.26H76.5008V88.3087H51.2432L49.4987 72.9985ZM53.8006 110.736H34.6397L37.3137 134.211L76.4129 142.713L76.5008 142.694V127.138L76.4171 127.156L55.1597 122.66L53.8006 110.736Z" fill="#EBEBEB"/>
              <path d="M14.4512 0H24.1511V7.50669H33.0245V0H42.7251V22.7321H33.0251V15.1201H24.1517V22.7321H14.4518L14.4512 0ZM55.4803 7.53852H46.9422V0H73.7255V7.53852H65.182V22.7321H55.4821V7.53852H55.4803ZM77.9761 0H88.0902L94.3118 7.98747L100.527 0H110.646V22.7321H100.985V11.4648L94.3118 19.5474H94.1444L87.4668 11.4648V22.7321H77.9761V0ZM115.473 0H125.176V15.2184H138.817V22.7321H115.472V0H115.473Z" fill="black"/>
              <path d="M76.4342 103.26H99.9382L97.7221 122.65L76.4336 127.151V142.706L115.564 134.211L115.851 131.685L120.337 92.3235L120.802 88.3087H76.4342V103.26ZM76.4342 72.962V72.9985H122.539L122.922 69.6381L123.792 62.0584L124.248 58.0474H76.4342V72.962Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_425_40">
                <rect width="153" height="169" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </div>

        <div class="col-12 col-md-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="153" height="169" viewBox="0 0 153 169" fill="none">
            <g clip-path="url(#clip0_425_46)">
              <path d="M76.4064 168.573L14.1414 155.034L0.265625 33.1289H152.734L138.844 155.015L76.4064 168.573Z" fill="#264DE4"/>
              <path d="M126.952 147.253L138.822 43.0957H76.5V158.209L126.952 147.253Z" fill="#2965F1"/>
              <path d="M32.0764 88.3087L33.7869 103.26H76.5008V88.3087H32.0764ZM28.6387 58.0474L30.3737 72.9985H76.5008V58.0474H28.6387ZM76.5008 127.138L76.4171 127.156L55.1597 122.66L53.8006 110.736H34.6397L37.3137 134.211L76.4129 142.713L76.5008 142.694V127.138Z" fill="#EBEBEB"/>
              <path d="M36.1484 0H59.2658V7.5727H45.8161V15.1454H59.267V22.7176H36.1484V0ZM63.8898 0H87.0078V6.58491H73.5575V7.9018H87.0078V23.0472H63.8904V16.1322H77.3407V14.8154H63.8892L63.8898 0ZM91.6319 0H114.75V6.58491H101.3V7.9018H114.75V23.0472H91.6319V16.1322H105.082V14.8154H91.6325V0H91.6319Z" fill="black"/>
              <path d="M120.802 88.3087L124.248 58.0474H76.4342V72.9985H103.33L101.593 88.3087H76.4342V103.26H99.9382L97.7221 122.65L76.4336 127.151V142.706L115.564 134.211L115.851 131.685L120.337 92.3235L120.802 88.3087Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_425_46">
                <rect width="153" height="169" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </div>

        <div class="col-12 col-md-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="153" height="169" viewBox="0 0 153 169" fill="none">
            <g clip-path="url(#clip0_425_35)">
              <path d="M117.141 0H35.8594C16.0548 0 0 17.7337 0 39.6094V129.391C0 151.266 16.0548 169 35.8594 169H117.141C136.945 169 153 151.266 153 129.391V39.6094C153 17.7337 136.945 0 117.141 0Z" fill="#242938"/>
              <path d="M71.6456 20.5415C74.5855 18.6832 78.4141 18.6746 81.351 20.5415C96.1262 29.7639 110.906 38.9711 125.679 48.1988C128.458 49.9277 130.316 53.3433 130.288 56.8798V112.363C130.309 116.046 128.267 119.543 125.335 121.232C110.609 130.404 95.8889 139.586 81.1645 148.758C78.1648 150.652 74.2592 150.506 71.3522 148.456C66.9373 145.629 62.5146 142.816 58.0991 139.991C57.1967 139.397 56.1795 138.925 55.5424 137.958C56.1059 137.12 57.113 137.015 57.9312 136.649C59.7738 136.001 61.4669 134.962 63.1595 133.954C63.588 133.631 64.1104 133.755 64.5209 134.044C68.2963 136.435 72.0389 138.896 75.8268 141.264C76.6348 141.78 77.453 141.095 78.1439 140.67C92.5953 131.648 107.065 122.66 121.514 113.635C122.05 113.351 122.345 112.723 122.302 112.075C122.312 93.7726 122.304 75.4672 122.307 57.1637C122.368 56.4296 121.983 55.7536 121.381 55.4525C106.706 46.3232 92.037 37.1807 77.364 28.0495C77.1099 27.8563 76.8087 27.7526 76.5002 27.752C76.1917 27.7514 75.8903 27.8539 75.6356 28.0462C60.9619 37.1807 46.2966 46.3325 31.623 55.4605C31.0235 55.7622 30.6213 56.4269 30.6924 57.1637C30.6954 75.4672 30.6924 93.7726 30.6924 112.078C30.6669 112.394 30.7298 112.711 30.8726 112.987C31.0154 113.262 31.2312 113.483 31.4909 113.619C35.4061 116.071 39.3267 118.507 43.245 120.951C45.4527 122.263 48.1625 123.043 50.5944 122.038C52.7405 121.188 54.2448 118.768 54.2042 116.252C54.2245 98.0557 54.194 79.8572 54.2191 61.6633C54.1654 60.8559 54.8592 60.1885 55.5704 60.2651C57.4519 60.2506 59.3357 60.2367 61.2171 60.2704C62.0024 60.2506 62.5427 61.1206 62.4459 61.934C62.4381 80.2454 62.4662 98.5568 62.4333 116.868C62.4381 121.748 60.623 127.058 56.5363 129.446C51.5022 132.326 45.2794 131.716 40.3057 128.954C36.0002 126.58 31.8907 123.778 27.6617 121.235C24.7224 119.555 22.6904 116.044 22.7113 112.363V56.8798C22.6802 53.2701 24.6125 49.7924 27.4776 48.0885C42.2021 38.9104 56.9241 29.7243 71.6456 20.5415Z" fill="#81CD39"/>
              <path d="M84.4917 58.9749C90.9135 58.5181 97.7884 58.7043 103.567 62.1991C108.042 64.8767 110.522 70.4973 110.601 75.9878C110.476 76.7278 109.775 77.1365 109.135 77.0856C107.272 77.083 105.408 77.114 103.545 77.0718C102.754 77.1054 102.295 76.3007 102.196 75.529C101.661 72.9016 100.363 70.2999 98.1248 69.0324C94.6883 67.1325 90.7043 67.2282 86.957 67.2678C84.2216 67.4276 81.2799 67.6896 78.9622 69.4661C77.183 70.8122 76.6427 73.5294 77.2774 75.7178C77.8763 77.289 79.518 77.796 80.8621 78.2634C88.6012 80.4993 96.8022 80.2762 104.394 83.2185C107.537 84.418 110.611 86.7503 111.687 90.3851C113.094 95.2571 112.478 101.08 109.339 104.99C106.794 108.209 103.088 109.961 99.3919 110.912C94.4744 112.123 89.371 112.154 84.377 111.616C79.6812 111.025 74.7941 109.662 71.1694 106.129C68.0693 103.155 66.5555 98.5222 66.7055 94.0517C66.7413 93.2964 67.4221 92.7696 68.0771 92.8317C69.9531 92.8152 71.8298 92.8092 73.7058 92.835C74.4559 92.7756 75.0111 93.4912 75.0499 94.2715C75.3954 96.7741 76.247 99.4016 78.2235 100.885C82.0365 103.603 86.822 103.417 91.1884 103.493C94.8061 103.316 98.8671 103.262 101.819 100.621C103.376 99.1144 103.838 96.5939 103.417 94.426C102.961 92.5954 101.227 91.7424 99.7385 91.1846C92.0987 88.5156 83.8056 89.484 76.2399 86.4651C73.1679 85.2663 70.1976 82.9993 69.0178 79.5137C67.3713 74.5804 68.1255 68.4779 71.5925 64.6998C74.9728 60.9402 79.8521 59.4925 84.4917 58.9749Z" fill="#81CD39"/>
            </g>
            <defs>
              <clipPath id="clip0_425_35">
                <rect width="153" height="169" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </div>

        <div class="col-12 col-md-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="153" height="169" viewBox="0 0 153 169" fill="none">
            <g clip-path="url(#clip0_425_69)">
              <path d="M152.992 49.6379C152.991 46.7995 152.372 44.2909 151.122 42.1379C149.894 40.0207 148.054 38.2462 145.587 36.8432C125.219 25.3119 104.83 13.8158 84.468 2.2727C78.9785 -0.839128 73.6563 -0.725875 68.2069 2.43114C60.0997 7.12558 19.5099 29.9582 7.41393 36.8367C2.43306 39.6681 0.00896484 44.001 0.00776953 49.632C0 72.8232 0.00776953 96.0131 0 119.204C0 121.98 0.593473 124.44 1.78879 126.561C3.01757 128.742 4.88285 130.565 7.40735 132C19.5039 138.879 60.0991 161.71 68.2045 166.405C73.6558 169.563 78.9785 169.677 84.4697 166.564C104.832 155.02 125.222 143.524 145.593 131.993C148.118 130.559 149.983 128.735 151.212 126.555C152.405 124.434 153 121.975 153 119.197C153 119.197 153 72.829 152.992 49.6379Z" fill="#649AD2"/>
              <path d="M76.7352 84.1924L1.78906 126.561C3.01844 128.742 4.88373 130.565 7.40823 132C19.5048 138.879 60.1 161.71 68.2054 166.405C73.6566 169.563 78.9794 169.676 84.4706 166.563C104.833 155.02 125.222 143.524 145.594 131.993C148.119 130.559 149.984 128.734 151.213 126.555L76.7352 84.1924Z" fill="#004482"/>
              <path d="M54.5352 96.7424C58.8963 104.217 67.0943 109.259 76.499 109.259C85.9617 109.259 94.2064 104.154 98.5454 96.598L76.7333 84.1924L54.5352 96.7424Z" fill="#1A4674"/>
              <path d="M152.992 49.6377C152.991 46.7993 152.373 44.2907 151.122 42.1377L76.7344 84.1923L151.212 126.555C152.405 124.434 152.999 121.974 153 119.197C153 119.197 153 72.8288 152.992 49.6377Z" fill="#01589C"/>
              <path d="M148.898 87.2204H143.078V92.9359H137.256V87.2204H131.437V81.5073H137.256V75.793H143.078V81.5073H148.898V87.2204ZM76.5006 34.5317C95.1086 34.5317 111.379 44.3549 120.231 59.0068L120.496 59.4522L98.3825 71.9553C93.9999 64.5562 85.8449 59.5772 76.5006 59.5772C62.5274 59.5772 51.2 70.6989 51.2 84.4178C51.1953 88.7419 52.3458 92.9915 54.5367 96.7425C58.8978 104.217 67.0958 109.259 76.5006 109.259C85.8593 109.259 94.0268 104.265 98.4029 96.8464L98.5469 96.5982L120.629 109.159C111.873 124.18 95.3907 134.305 76.5006 134.305C57.6451 134.305 41.1886 124.22 32.421 109.244C28.1406 101.933 25.6914 93.4564 25.6914 84.4178C25.6914 56.8673 48.4388 34.5317 76.5006 34.5317ZM121.842 75.7924V81.5067H127.661V87.2204H121.842V92.9359H116.022V87.2204H110.202V81.5073H116.022V75.793H121.842V75.7924Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_425_69">
                <rect width="153" height="169" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </div>

        <div class="col-12 col-md-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="153" height="169" viewBox="0 0 153 169" fill="none">
            <path d="M2.39182 119.433H7.30216V98.0136L14.9044 116.687C15.8008 118.947 17.0284 119.746 19.437 119.746C21.8455 119.746 23.0265 118.947 23.923 116.687L31.5252 98.0136V119.433H36.4355V98.0493C36.4355 95.9632 35.6801 94.9531 34.1214 94.4329C30.3908 93.1469 27.8878 94.26 26.7547 97.0419L19.2947 115.471L12.0715 97.0405C10.9849 94.26 8.43532 93.1469 4.70475 94.4316C3.14606 94.9531 2.39062 95.9618 2.39062 98.0479L2.39182 119.433ZM40.5199 101.997H45.429V113.798C45.3836 114.438 45.6155 115.943 48.305 115.991C49.6772 116.015 58.8978 115.991 58.9839 115.991V101.939H63.905C63.9277 101.939 63.9002 121.102 63.9002 121.181C63.9265 125.908 58.5918 126.934 56.1319 127.013H40.6263V123.364C40.6526 123.364 56.1211 123.368 56.1594 123.362C59.321 122.994 58.9468 121.259 58.9456 120.675V119.252H48.5094C43.654 119.203 40.5605 116.862 40.5211 114.169C40.5187 113.922 40.6275 102.116 40.5199 101.997Z" fill="#00618A"/>
            <path d="M67.6914 119.433H81.8104C83.4636 119.433 85.0701 119.051 86.3443 118.391C88.4683 117.314 89.507 115.854 89.507 113.939V109.975C89.507 108.411 88.3273 106.949 86.0132 105.978C84.7856 105.455 83.2735 105.179 81.8092 105.179H75.859C73.876 105.179 72.9317 104.519 72.6962 103.058C72.6496 102.884 72.6496 102.745 72.6496 102.571V100.102C72.6496 99.9636 72.6496 99.8236 72.6962 99.6506C72.9317 98.5376 73.4516 98.2247 75.1992 98.0504L75.6713 98.0161H89.6959V94.4011H75.908C73.925 94.4011 72.8862 94.5397 71.9419 94.8526C69.0146 95.8613 67.738 97.4602 67.738 100.242V103.406C67.738 105.84 70.2422 107.926 74.4437 108.414C74.9171 108.447 75.388 108.484 75.8602 108.484H80.9606C81.1494 108.484 81.3383 108.484 81.4805 108.517C83.0392 108.655 83.699 108.969 84.1724 109.594C84.2937 109.718 84.3899 109.868 84.4548 110.036C84.5197 110.204 84.5518 110.385 84.5489 110.567V113.732C84.5489 114.113 84.3134 114.601 83.8413 115.018C83.4169 115.435 82.7081 115.714 81.7638 115.784L81.2439 115.818H67.6914V119.433ZM120.143 113.14C120.143 116.86 122.646 118.946 127.697 119.364C128.169 119.399 128.642 119.433 129.114 119.433H141.911V115.818H129.021C126.14 115.818 125.054 115.018 125.054 113.105V94.3984H120.144L120.143 113.14ZM92.6412 113.328V100.435C92.6412 97.1605 94.7234 95.1735 98.8401 94.5463C99.2787 94.4768 99.7213 94.442 100.164 94.442H109.487C109.96 94.442 110.386 94.4763 110.858 94.5463C114.974 95.1735 117.058 97.1592 117.058 100.435V113.328C117.058 115.987 116.173 117.408 114.135 118.334L118.974 123.157H113.271L109.358 119.255L105.418 119.531H100.164C99.1886 119.524 98.218 119.371 97.279 119.078C94.1556 118.138 92.6412 116.325 92.6412 113.328ZM97.9412 113.015C97.9412 113.189 97.9878 113.365 98.0356 113.573C98.3189 115.072 99.5979 115.908 101.537 115.908H105.998L101.9 111.821H107.603L111.176 115.386C111.835 114.997 112.268 114.405 112.42 113.643C112.467 113.469 112.467 113.295 112.467 113.12V100.752C112.467 100.613 112.467 100.438 112.42 100.263C112.136 98.869 110.858 98.0689 108.966 98.0689H101.535C99.36 98.0689 97.94 99.1146 97.94 100.752L97.9412 113.015Z" fill="#E48E00"/>
            <path d="M146.23 88.3975C143.212 88.3064 140.906 88.6167 138.934 89.5343C138.373 89.7957 137.48 89.8023 137.389 90.5773C137.696 90.9352 137.744 91.4672 137.989 91.9056C138.46 92.7466 139.255 93.8742 139.964 94.4643C140.737 95.11 141.536 95.8018 142.368 96.3616C143.844 97.3572 145.493 97.9249 146.917 98.9204C147.755 99.5093 148.587 100.249 149.406 100.913C149.811 101.239 150.081 101.75 150.608 101.954V101.861C150.332 101.473 150.26 100.939 150.007 100.533L148.891 99.2993C147.799 97.6991 146.415 96.2956 144.941 95.1285C143.767 94.1977 141.14 92.9394 140.65 91.4303L140.564 91.3365C141.396 91.2322 142.371 90.8995 143.139 90.6724C144.43 90.2895 145.583 90.3885 146.916 90.0083L148.718 89.4379V89.0603C148.045 88.2972 147.564 87.2858 146.83 86.5953C144.909 84.7878 142.81 82.9816 140.65 81.4738C139.452 80.6394 137.971 80.0967 136.701 79.389C136.275 79.1501 135.525 79.0273 135.241 78.6298C134.573 77.6911 134.211 76.5015 133.696 75.407C132.595 73.0424 131.565 70.6391 130.606 68.2007C129.956 66.5569 129.53 64.9356 128.718 63.4608C124.821 56.3826 120.625 52.11 114.126 47.9115C112.743 47.0176 111.078 46.6664 109.32 46.2056L106.487 46.0155C105.912 45.7501 105.312 44.9711 104.77 44.5935C102.616 43.091 97.0941 39.8232 95.4995 44.1208C94.4931 46.8328 97.0056 49.4787 97.9033 50.8531C98.5332 51.8169 99.3413 52.897 99.7919 53.9809C100.088 54.6939 100.139 55.4082 100.393 56.1621C101.016 58.0184 101.56 60.0398 102.367 61.7549C102.774 62.6237 103.225 63.5387 103.74 64.315C104.056 64.7903 104.598 65.0016 104.683 65.737C104.154 66.5556 104.123 67.8284 103.825 68.8648C102.484 73.5374 102.989 79.3455 104.941 82.8034C105.54 83.8662 106.951 86.1424 108.889 85.2684C110.586 84.5052 110.208 82.1406 110.693 80.0531C110.803 79.5818 110.735 79.2332 110.95 78.9164V79.0114L112.496 82.4244C113.64 84.459 115.668 86.5834 117.388 88.0186C118.28 88.7619 118.983 90.0492 120.135 90.4836V90.3872H120.05C119.825 90.003 119.477 89.8446 119.191 89.5343C118.519 88.8068 117.772 87.9037 117.217 87.0693C115.653 84.7244 114.271 82.1564 113.011 79.4841C112.41 78.2087 111.887 76.8012 111.38 75.502C111.184 75.0016 111.187 74.2438 110.78 73.9863C110.223 74.9369 109.407 75.7067 108.977 76.8303C108.291 78.6259 108.202 80.8163 107.948 83.0872L107.775 83.181C106.579 82.8628 106.159 81.5028 105.715 80.337C104.591 77.3888 104.382 72.6396 105.372 69.2451C105.627 68.3657 106.783 65.5997 106.315 64.7877C106.091 63.9783 105.354 63.5109 104.943 62.8904C104.403 62.06 103.943 61.1703 103.569 60.2353C102.649 57.9366 102.22 55.3554 101.253 53.0303C100.789 51.9186 100.007 50.795 99.364 49.8074C98.6528 48.7116 97.8555 47.9062 97.3033 46.5832C97.1072 46.1132 96.8407 45.3593 97.1311 44.8761C97.2232 44.5499 97.3559 44.4139 97.6475 44.307C98.1448 43.8832 99.5313 44.4483 100.05 44.6859C101.427 45.3184 102.576 45.9191 103.742 46.772C104.302 47.1826 104.867 47.9748 105.545 48.194H106.317C107.526 48.5003 108.88 48.2877 110.008 48.6667C112.004 49.3374 113.793 50.3791 115.416 51.5119C120.363 54.9632 124.407 59.8748 127.175 65.7344C127.62 66.6784 127.814 67.5775 128.204 68.5783C128.996 70.5957 129.993 72.6726 130.779 74.6465C131.565 76.615 132.331 78.6021 133.441 80.2406C134.024 81.1015 136.279 81.5636 137.303 82.0415C138.022 82.3769 139.198 82.7268 139.878 83.1783C141.177 84.0444 142.437 85.0756 143.655 86.0236C144.264 86.5015 146.137 87.5406 146.23 88.3975ZM107.861 52.2751C107.341 52.2657 106.822 52.3296 106.316 52.4652V52.559H106.402C106.702 53.2416 107.232 53.6799 107.603 54.2661L108.463 56.2572L108.548 56.1634C109.079 55.7501 109.322 55.0887 109.32 54.0773C109.106 53.8291 109.075 53.5188 108.891 53.2244C108.647 52.8283 108.171 52.6065 107.861 52.2751Z" fill="#00618A"/>
          </svg>
        </div>

        <div class="col-12 col-md-1"><svg xmlns="http://www.w3.org/2000/svg" width="153" height="169" viewBox="0 0 153 169" fill="none">
          <g clip-path="url(#clip0_425_75)">
            <path d="M117.141 0H35.8594C16.0548 0 0 17.7337 0 39.6094V129.391C0 151.266 16.0548 169 35.8594 169H117.141C136.945 169 153 151.266 153 129.391V39.6094C153 17.7337 136.945 0 117.141 0Z" fill="#023430"/>
            <path d="M102.303 71.0269C96.005 40.3422 82.8805 32.1734 79.5324 26.399C78.1517 23.8552 76.9287 21.2109 75.8718 18.4844C75.6949 21.2108 75.3697 22.9272 73.272 24.9948C69.0603 29.1426 51.1724 45.2438 49.6669 80.1086C48.2642 112.616 71.3021 132.66 74.3454 134.733C76.6858 136.005 79.536 134.76 80.9268 133.592C92.0318 125.174 107.205 102.73 102.314 71.0269" fill="#10AA50"/>
            <path d="M76.8251 117.423C76.2454 125.469 75.83 130.144 74.3574 134.742C74.3574 134.742 75.3238 142.402 76.0028 150.516H78.4048C78.9777 144.802 79.8526 139.13 81.0249 133.529C77.9153 131.839 76.9447 124.483 76.8251 117.423Z" fill="#B8C4C2"/>
            <path d="M81.0204 133.533C77.8779 131.929 76.9689 124.419 76.8291 117.423C77.606 105.881 77.8326 94.3024 77.508 82.7346C77.343 76.6652 77.5857 26.5171 76.1543 19.1748C77.1336 21.6615 78.2619 24.0734 79.5317 26.3943C82.8797 32.1733 96.0084 40.3421 102.302 71.0268C107.204 102.675 92.1135 125.06 81.0204 133.533Z" fill="#12924F"/>
          </g>
          <defs>
            <clipPath id="clip0_425_75">
              <rect width="153" height="169" fill="white"/>
            </clipPath>
          </defs>
        </svg></div>
      </div>
    </div>

  </section>

  <!-- Testimonial section -->

  <section class="testimonial-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">

        <% reviewData.forEach((reviewee,index) => { %>

          <% if (index === 0) { %>
            <div class="carousel-item active">
              <div class="card">
                <img class="testimonial-image img-fluid mx-auto d-block" src="/images/card-images4.jpeg" alt="John">
                <span><%= reviewee.firstname %> <%= reviewee.lastname %></span>
                <p class="title"><%= reviewee.title %> | <%= reviewee.company %></p>
                <div>
                  <% for( let index = 0; index < reviewee.rating; index++ ) { %>
                    <i class="fa-solid fa-star" style="color: #edb007;"></i>
                  <% } %>
                </div>
                <div class="social-icon">
                  <a href=<%= reviewee.facebook %>><i class="fab fa-facebook fa-2x"></i></a>
                  <a href=<%= reviewee.twitter %>><i class="fab fa-twitter fa-2x"></i></a>
                  <a href=<%= reviewee.facebook %>><i class="fab fa-linkedin fa-2x"></i></a>
                  <a href=<%= reviewee.github %>><i class="fab fa-github fa-2x"></i></a>
                </div>
              </div>
            </div>
          <% } else { %>
            <div class="carousel-item">
              <div class="card">
                <img class="testimonial-image img-fluid mx-auto d-block" src="/images/card-images4.jpeg" alt="John">
                <span><%= reviewee.firstname %> <%= reviewee.lastname %></span>
                <p class="title"><%= reviewee.title %> | <%= reviewee.company %></p>
                <div>
                  <% for( let index = 0; index < reviewee.rating; index++ ) { %>
                    <i class="fa-solid fa-star" style="color: #edb007;"></i>
                  <% } %>
                </div>
                <div class="social-icon">
                  <a href=<%= reviewee.facebook %>><i class="fab fa-facebook fa-2x"></i></a>
                  <a href=<%= reviewee.twitter %>><i class="fab fa-twitter fa-2x"></i></a>
                  <a href=<%= reviewee.facebook %>><i class="fab fa-linkedin fa-2x"></i></a>
                  <a href=<%= reviewee.github %>><i class="fab fa-github fa-2x"></i></a>
                </div>
              </div>
            </div>
          <% } %>
          

        <% }) %>

      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>

  <!-- Contact section -->
  <section class="contact-section" id="contact">
    <div class="container">

      <div class="form-container">

        <div class="form-header"><h2>Let's <span style="color: #F16529;">talk</span></h2></div>
        <form action="/" method="post">
    
          <div class="inner-container">
            <input type="text" class="contact-text" id="fname" name="firstname" placeholder="Your name.."><br>
      
            <input type="text" class="contact-text" id="lname" name="lastname" placeholder="Your last name.."><br>
            <input type="email" class="contact-text" id="email" name="email" placeholder="Email"><br>
        
            <textarea id="subject" name="subject" placeholder="Write message.." style="height:200px; width:100%; " class="contact-textarea"></textarea><br>
        
            <!-- <input type="submit" value="Submit"> -->
            <button type="submit" class="contact-btn">Send <i class="fa-regular fa-paper-plane fa-beat-fade" style="color: #ec6d18;"></i></button>
          </div>
      
        </form>  
      </div>

      <div class="contact-icon">
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="#"><i class="fab fa-github fa-2x"></i></a>
      </div>

      <div class="contact-image">
        <img src="/images/contact-image1.png" alt="">
      </div>

    </div>
  </section>

<%- include('partials/footer') %>